.button-arrow {
    background-color: #2F80ED;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 0 #000;
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid #fff;
    transform: translateX(5px);
}

.button-arrow.-left::before {
    transform: rotate(180deg) translatex(12px);
}