.main-section {
    background-color: #371272;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}

.main-section .main-tittle {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #3A4042;
}
