.main-footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-footer .action {
    margin-right: 20px;
    margin-left: 20px;
}