.main-carousel {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

.main-carousel::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 50px;
  top: 35px;
  height: 6px;
  width: calc(100% - 100px);
  background-color: #000;
}

.main-carousel::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 3px dashed #000;
  left: 0;
  top: 35px;
  width: 100%;
}

.main-carousel .button-arrow {
  position: absolute;
  bottom: 70px;
  transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}

.main-carousel .items {
  display: block;
  width: 100%;
  overflow: hidden;
}

.main-carousel .elements {
  display: flex;
  justify-content: center;
  width: 100%;
}
