.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 3px dashed #000;
    transform: rotate(90deg) translateX(-38%);
    bottom: 140px;
}

.node-card .tittle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    font-weight: 400px;
    color: #2F80ED;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    width: 155px;
    height: 125px;
    border: 5px solid #000;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
}
