.progress-bar {
  box-sizing: border-box;
  border: 5px solid #000;
  height: 40px;
}

.progress-bar::-webkit-progress-value {
  background-color: #2d9cdb;
}

.progress-bar::-moz-progress-value {
  background-color: #2d9cdb;
}

.progress-bar::-webkit-progress-bar {
  background-color: #fff;
}

.progress-bar::-moz-progress-bar {
  background-color: #fff;
}
