.skill {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}

.skill .icon {
    margin-right: 25px;
    width: 90px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .tittle {
    margin-bottom: 15px;
}